<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html">Zoya Wahyu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" id="nav-home" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-about" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-projects" href="projects.html">Projects</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-contact" href="contact.html">Contact</a></li>
        <li class="nav-item d-flex align-items-center ms-3">
          <span class="lang-toggle">
            <a href="#" class="lang-option mx-1" data-lang="id" id="lang-id">ID</a> |
            <a href="#" class="lang-option mx-1" data-lang="en" id="lang-en">EN</a> |
            <a href="#" class="lang-option mx-1" data-lang="zh" id="lang-zh">ZN</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>